<template>
        <h1>
            <slot />
        </h1>
</template>

    <script>
        export default {
            name: "Header1"
        }
    </script>

    <style scoped>

        h1{
            font-family: var(--main-font);
            font-weight: 600;
            font-size: 40px;
            line-height: 49px;
        }
    </style>