<script setup>
import { Head, Link, useForm } from '@inertiajs/vue3';
import AuthenticationCard from '@/Components/AuthenticationCard.vue';
import AuthenticationCardLogo from '@/Components/AuthenticationCardLogo.vue';
import Checkbox from '@/Components/Checkbox.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import SubmitButton from '@/Components/DesignSystem/Buttons/SubmitButton.vue';
import TextInput from '@/Components/TextInput.vue';
import ConnexionHeader from '@/Components/ConnexionHeader.vue';
import GoBack from '@/Components/DesignSystem/Buttons/GoBack.vue';
import Header1 from '@/Components/DesignSystem/Typo/Header1.vue';
import Header3 from '@/Components/DesignSystem/Typo/Header3.vue';


const form = useForm({
    name: '',
    email: '',
    password: '',
    password_confirmation: '',
    terms: false,
});

const submit = () => {
    form.post(route('register'), {
        onFinish: () => form.reset('password', 'password_confirmation'),
    });
};
</script>

<template>
    <Head title="Register" />
    <ConnexionHeader>
        <GoBack />
        <Link :href="route('dashboard')">
        <p>tester l'application</p>
        </Link>
    </ConnexionHeader>

    <AuthenticationCard>
        <template #logo>
            <AuthenticationCardLogo />
        </template>
        <section class="flex items-center justify-center">
            <div>
                <div class="mt-5 mb-20">
                    <div class="mb-3">
                        <Header1>Rejoins l'aventure !</Header1>
                    </div>
                    <div>
                        <Header3>Créer ton compte</Header3>
                    </div>
                </div>
                <form @submit.prevent="submit">
                    <div>
                        <InputLabel for="name" value="Name" />
                        <TextInput id="name" v-model="form.name" type="text" class="mt-1 block w-full" required autofocus
                            autocomplete="name" />
                        <InputError class="mt-2" :message="form.errors.name" />
                    </div>

                    <div class="mt-4">
                        <InputLabel for="email" value="Email" />
                        <TextInput id="email" v-model="form.email" type="email" class="mt-1 block w-full" required
                            autocomplete="username" />
                        <InputError class="mt-2" :message="form.errors.email" />
                    </div>

                    <div class="mt-4">
                        <InputLabel for="password" value="Password" />
                        <TextInput id="password" v-model="form.password" type="password" class="mt-1 block w-full" required
                            autocomplete="new-password" />
                        <InputError class="mt-2" :message="form.errors.password" />
                    </div>

                    <div class="mt-4">
                        <InputLabel for="password_confirmation" value="Confirm Password" />
                        <TextInput id="password_confirmation" v-model="form.password_confirmation" type="password"
                            class="mt-1 block w-full" required autocomplete="new-password" />
                        <InputError class="mt-2" :message="form.errors.password_confirmation" />
                    </div>

                    <div v-if="$page.props.jetstream.hasTermsAndPrivacyPolicyFeature" class="mt-4">
                        <InputLabel for="terms">
                            <div class="flex items-center">
                                <Checkbox id="terms" v-model:checked="form.terms" name="terms" required />

                                <div class="ml-2">
                                    I agree to the <a target="_blank" :href="route('terms.show')"
                                        class="underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Terms
                                        of Service</a> and <a target="_blank" :href="route('policy.show')"
                                        class="underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Privacy
                                        Policy</a>
                                </div>
                            </div>
                            <InputError class="mt-2" :message="form.errors.terms" />
                        </InputLabel>
                    </div>

                    <div class="flex items-center justify-end mt-4">
                        <Link :href="route('login')"
                            class="underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Already registered?
                        </Link>

                        <SubmitButton class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                            S'inscrire
                        </SubmitButton>
                    </div>
                </form>
            </div>
        </section>
    </AuthenticationCard>
</template>

<style scoped>
section {
    width: 100vw;
    height: 78vh;
}

p {
    text-decoration: underline;
    font-weight: 600;
}
</style>
